*{
    box-sizing: border-box;
    
    /*makes it so the user cant highlight text from the buttons and toolbox*/
    user-select: none;
}

body{
    margin:0;
}

canvas{
    display: block;
    
    
}
#title {
   
    font-family: 'Permanent Marker', cursive;
    font-size: 45px;
    text-align: center;
}
#tools{

    font-family: 'Permanent Marker', cursive;
    font-size: 23px;
    text-align: left;
}
#range{
  
}

.navbar{
  overflow: auto;
  background-color: #333;
  font-family: Arial;
 }

/* Links inside the topbar */
.navbar a {
  float: center;
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 }

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: red;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Permanent Marker', cursive;
  margin: 0; 
}

#toggle-ws
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #d3d3d3;
  color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: auto;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


#toolbar{
    width: 16%;
    height: 100%;
    padding: 17px;
    position: absolute;
    top: 0px;
    background-color: #969997;
    overflow: hidden;
}

.toolbar-button {
    display: block;
    position: relative;
    float: center;
    height: 65px;
    width: 60px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    margin-left: 120px;
    outline: none;
    margin-top: 40px;
    margin-bottom: 20px;
}
#myColors{
    position: relative;
    float left;
    margin-left: 20px;
    margin-right 10px;
    width: 60px;
    length: 80px;
    margin-bottom: 20px;
      
}

#brush, #circle-tool{
    display: block;
    position: relative;
    float: left;
    height: 53px;
    width: 50px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 12px;
    outline: none;
}
#circle-tool, #square-tool{
 display: block;
    position: relative;
    float: left;
    height: 53px;
    width: 50px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    margin-left: 30px;
    margin-top: -55px;
    outline: none;
}

#selector, #erase, #triangle-tool{
    display: block;
    position: relative;
    float: center;
    height: 53px;
    width: 50px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    margin-left: 130px;
    outline: none;
    margin-top: 29px;
    margin-bottom: 2px;
}


#color {
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 40px;
}

#size, #size-circle{
font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 15px;
}

/*Comments*/

/* Slider CSS */
.switch {
  position: absolute;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-left: 150px;
    margin-top: -40px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
#toggle-switch-container{
   position: absolute;
    float left;
    margin-left: 270px;
    margin-right 0px;
    width: 600px;
    margin-bottom: 0px;
    margin-top: -20 px;
    font-size: 18px;
  font-family: 'Permanent Marker', cursive;
  color: white;
}

#range{
position: absolute;
    float left;
    margin-left: 520px;
    margin-right 0px;
    width: 350px;
    margin-bottom: 0px;
    margin-top: 30 px;
   font-size: 18px;
  font-family: 'Permanent Marker', cursive;
  color: white;
}
#range-circle{
position: absolute;
    float left;
    margin-left: 900px;
    margin-right 0px;
    width: 400px;
    margin-bottom: 0px;
    margin-top: -20 px;
  font-size: 18px;
  font-family: 'Permanent Marker', cursive;
  color: white;
}
